version: '3'

services:
  database_master:
    container_name: db_master
    image: bitnami/mariadb:10.1
    restart: always
    ports:
      - 3306
    environment:
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wordpress_user
      MARIADB_PASSWORD: wp_password

      MARIADB_ROOT_PASSWORD: root_password
      MARIADB_REPLICATION_MODE: master
      MARIADB_REPLICATION_USER: repl_user
      MARIADB_REPLICATION_PASSWORD: repl_password
    volumes:
      - bitnami_db_content:/bitnami/mariadb

  database_slave:
    depends_on: 
      - database_master
    container_name: db_slave
    restart: always
    image: bitnami/mariadb:10.1
    ports:
      - 3306
    environment:
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wordpress_user
      MARIADB_PASSWORD: wp_password

      MARIADB_ROOT_PASSWORD: root_password
      MARIADB_REPLICATION_MODE: slave
      MARIADB_REPLICATION_USER: repl_user
      MARIADB_REPLICATION_PASSWORD: repl_password
      MARIADB_MASTER_HOST: master
      MARIADB_MASTER_ROOT_PASSWORD: root_password
    links:
      - database_master:master


  wordpress_1:
    image: wordpress:4.7.5-apache
    container_name: wordpress_1
    depends_on:
      - database_master
      - database_slave
    environment:
      #WORDPRESS_DB_HOST: wordpress
      WORDPRESS_DB_USER: wordpress_user
      WORDPRESS_DB_PASSWORD: wp_password
    links:
      - database_master:mysql
    ports:
      - 80
    volumes:
      - wp_content:/var/www/html

  wordpress_2:
    image: wordpress:4.7.5-apache
    container_name: wordpress_2
    depends_on:
      - database_master
      - database_slave
      - wordpress_1
    environment:
      #WORDPRESS_DB_HOST: wordpress
      WORDPRESS_DB_USER: wordpress_user
      WORDPRESS_DB_PASSWORD: wp_password
    links:
      - database_master:mysql
    ports:
      - 80
    volumes:
      - wp_content:/var/www/html

  proxy:
    build: ./haproxy
    container_name: proxy
    restart: always
    links:
      - wordpress_1:wp_one
      - wordpress_2:wp_two



#  wordpress:
#    image: wordpress:4.7.5-apache
#    depends_on:
#      - database
#    environment:
#      WORDPRESS_DB_HOST: mysql
#      WORDPRESS_DB_USER: wordpress_user
#      WORDPRESS_DB_PASSWORD: wp_password
#    links:
#      - database:mysql
#    ports:
#      - 80

volumes:
  bitnami_db_content:
  wp_content:
